.products {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-info {
    margin-left: 55px;
    width: 42%;
}

.products-container .review {
    text-align: center;
    margin-bottom: 50px ;
    
}

.products-img {
    width: 58%;
}

.products-info h1 {
    margin: 5px 0px;
    
}


.products-info button, .see-all-btn button {
    transition: .400s ease-in;
    background-color: transparent;
    border: 2px solid #aae4d5;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 9px 20px;
    color: #aae4d5;
    margin-top: 10px;
}

.products-info button:hover, .see-all-btn button:hover {
    background-color: #aae4d5;
    color: #020723;
}

.products-info p{
    margin-top: 0;
}


.products-img img {
    width: 730px;
}

.see-all-btn button{
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

