.header-container{
    display: flex;
    justify-content: center;
    background-color: #00001c;
    margin-bottom: 50px;
}

.header-container a{
    text-decoration: none;
    
}

.liItem{
    list-style: none;
}
.liItem a{
    color: white;
    margin: 0 17px;
    text-transform: uppercase;
}

.nav{
  
    border-left: 3px solid #aae4d5;
    border-radius: 5px;
}

.nav-item{
   
    border-left: 3px solid #616161;
    border-radius: 5px;
    
}

.nav-item:hover{
    transition: .400s ease-in;
    border-left: 3px solid #aae4d5;
    color: #aae4d5;
    border-radius: 5px;
}

li .nav-item{
    padding: 5px 8px;
}

li .nav{
    font-weight: bold;
    padding: 5px 8px;
    color: #aae4d5;
}
